# Data Pre Processing

In [1]:
import pandas as pd

In [11]:
data_set = pd.read_csv("ujicoba1.csv")

In [4]:
data_set.head()

    waktu  paket frekuensi prioritas  gangguan
0  pendek  besar    sedang    rendah  gangguan
1  pendek  kecil    tinggi    rendah    normal
2  pendek  kecil    sedang    tinggi  gangguan
3  pendek  kecil    tinggi    rendah    normal
4  pendek  kecil    sedang    tinggi    normal

In [12]:
data_set.waktu.replace(["pendek","panjang"],[1,2], inplace=True)
data_set.paket.replace(["kecil","besar"],[1,2], inplace=True)
data_set.frekuensi.replace(["rendah","sedang","tinggi"],[1,2,3], inplace=True)
data_set.prioritas.replace(["rendah","tinggi"],[1,2], inplace=True)

In [13]:
data_set

    waktu  paket  frekuensi  prioritas  gangguan
0       1      2          2          1  gangguan
1       1      1          3          1    normal
2       1      1          2          2  gangguan
3       1      1          3          1    normal
4       1      1          2          2    normal
5       2      2          2          1    normal
6       2      1          3          2  gangguan
7       1      2          2          1    normal
8       2      1          1          2    normal
9       1      1          3          2    normal
10      2      2          3          2    normal
11      2      1          1          2    normal

# Processing Data

In [5]:
import pandas as pd
data_set = pd.read_csv("ujicoba1.csv")
data_set.waktu.replace(["pendek","panjang"],[1,2], inplace=True)
data_set.paket.replace(["kecil","besar"],[1,2], inplace=True)
data_set.frekuensi.replace(["rendah","sedang","tinggi"],[1,2,3], inplace=True)
data_set.prioritas.replace(["rendah","tinggi"],[1,2], inplace=True)
from sklearn.model_selection import train_test_split
Train,Test = train_test_split(data_set,test_size = 0.0, random_state = 0)

Train_IndependentVars = Train.values[:, 0:3]
Train_TargetVar = Train.values[:, 4]

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
#Building Decission Tree - CART Algorithm (gini criteria)
dt_train_gini = DecisionTreeClassifier(criterion = "entropy", random_state = 0, 
                                         max_depth=7, min_samples_leaf=1)

dt_train_gini.fit(Train_IndependentVars, Train_TargetVar)

with open("ujicoba_1.txt", "w") as f:
    f=tree.export_graphviz(dt_train_gini, out_file=f)